HTTP_PORT={{ .HTTPPort }}
HTTP_ADDR=0.0.0.0:{{ .HTTPPort }}
{{- if .USE_EXISTING_DB }}
{{- if .EXTERNAL_DB_HOST }}
DATABASE_URL=postgres://{{ .EXTERNAL_DB_USER }}:{{ .EXTERNAL_DB_PASSWORD }}@{{ .EXTERNAL_DB_HOST }}:{{ .EXTERNAL_DB_PORT }}/{{ .EXTERNAL_DB_NAME }}?sslmode=disable
{{- else }}
DATABASE_URL=postgres://postgres:postgres@localhost:{{ .PostgresHostPort }}/{{ .DatabaseName }}?sslmode=disable
{{- end }}
{{- else }}
DATABASE_URL=postgres://postgres:postgres@localhost:{{ .PostgresHostPort }}/{{ .DatabaseName }}?sslmode=disable
{{- end }}
