# Server
PORT={{ .HTTP_PORT }}

# Database
DATABASE_URL="{{ if eq .ProjectConfig.Database "postgres" }}postgresql://postgres:postgres@localhost:{{ .DB_HOST_PORT }}/mydb{{ else if eq .ProjectConfig.Database "mysql" }}mysql://root:root@localhost:{{ .DB_HOST_PORT }}/mydb{{ else if eq .ProjectConfig.Database "sqlite" }}file:./dev.db{{ end }}"

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h
