import { HealthEntity } from '../entities/health.entity.js';

export class HealthUseCase {
  constructor(healthRepository) {
    this.healthRepository = healthRepository;
  }

  async check() {
    return this.healthRepository.check();
  }
}
