.git
.github
.vscode
*.md
!README.md
!LICENSE.md
.vscodeignore
.gitignore
npm-debug.log
yarn.lock
package-lock.json
node_modules
!out
.vscode-test
dist
*.vsix
*.map
src
tsconfig.json
.vscodeignore
.eslintrc.json
.prettierrc